<h1>Ada School Bus App</h1>
<h2>Book today!</h2>
<form #bookingForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="origin">Origin</label>
    <br>
    <select id="origin" name="formSelect" [(ngModel)]="model.origin" #origin="ngModel" required>
        <option [value]="null">Choose</option>
        @for (origin of origins; track origin.value) {
        <option [value]="origin.value">{{ origin.value }}</option>
        }
    </select>
    <br>
    <small [hidden]="origin.valid || origin.untouched">Origin is required.</small>
    <br>
    <br>
    <label for="destination">Destination</label>
    <br>
    <select id="destination" name="destination" [(ngModel)]="model.destination" #dest="ngModel" required>
        <option [value]="null">Choose</option>
        @for (destination of destinations; track destination.value) {
        <option [value]="destination.value">{{ destination.value }}</option>
        }
    </select>
    <br>
    <small [hidden]="dest.valid || dest.untouched">Destination is required.</small>
    <br>
    <br>
    <label for="passengers">Number of Passengers</label>
    <br>
    <input id="passengers" name="passengers" type="number" [(ngModel)]="model.occupants" #passengers="ngModel" min="1"
        max="10" required>
    <br>
    <small [hidden]="passengers.valid || passengers.untouched">Passengers is required.</small>
    <br>
    <br>
    <label for="date">Date</label>
    <br>
    <input id="date" name="date" type="date" [(ngModel)]="model.date" #date="ngModel" required>
    <br>
    <small [hidden]="date.valid || date.untouched">Date is required.</small>
    <br>
    <br>
    <label for="time">Pick a time:</label>
    <br>
    <input type="time" id="time" name="time" placeholder="HH:mm" step="600" min="12:00" max="18:00"
        [(ngModel)]="model.time" #time="ngModel" required>
    <br>
    <small [hidden]="time.valid || time.untouched">Time is required.</small>
    <br>
    <br>
    <button>Submit</button>
</form>